*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

html {
    background-color: rgb(70, 85, 79);
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar{ 
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: rgb(22, 66, 43);
    font-family:'Times New Roman', Times, serif;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .name a {
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    font-size: 40px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

/* figure photo */

#figure-photo {
    display: flex;
    height: 430px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("Images/UNADJUSTEDNONRAW_thumb_25ad.jpg");
    background-size: cover;
    background-position: center;
}
/* bio section */

.main{
    width: 100%;
    display:flex;
    margin-left: 20px;
}


.block {
    margin-bottom: 20px;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(165, 191, 154);
    color: whitesmoke;
    padding: 50px;
}
/* image in Bio*/
.block img {
    max-height: 200px;

}
/* text in Bio */
.block div{
    padding: 0 20px 0;
}
/* bio alignment */
#about {
    text-align:center;
    padding: 20px 0;
}
/*  job section*/
.job {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

/*  each job card (firefighter,teacher,coder*/
.job-cards {
    margin: 10px 0;
    padding: 5px;
    background-color: black;
    color: green;
    border: 3px solid;
    border-radius: 20px;

}
/* contact info*/
.info {
    width: 100%;
    display:flex;
    flex-direction: row-reverse;
    margin-left: 20px;
}

#contact {
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 768px) {

    html {
        flex-direction: column;
    }
}